@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h1>Add a new Stylist here!</h1>
</div>
<div class="card newStylistCard">
  @using (Html.BeginForm())
  {
    <h3>Stylist Name:</h3>
    @Html.TextBoxFor(model => model.StylistName, new { required="required"})
    <br>
    <input class="newStylistBtn" type="submit" value="Add new Stylist" />
  }
</div>