@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="card">
  <h2>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.StylistName)</strong> from avaliable Stylists?</h2>

  @using (Html.BeginForm())
  {
    <input class="deleteBtn" type="submit" value="Delete" />
  }
</div>