@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h1>Edit Stylist: <strong>@Html.DisplayFor(model => model.StylistName)</strong></h1>
</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  <h3>Update Stylist Name:</h3>
  @Html.EditorFor(model => model.StylistName)

  <input type="submit" value="Save" />
}