@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h2>Stylists at Eau Claires Salon:</h2>
<hr />
@if (Model.Count == 0)
{
  <h3>There are no Stylists at Eau Claires at the moment. Please check later. Sorry for the inconvenience!</h3>
}  

<ul>
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId })</li>
  }
</ul>
<hr />
<p>@Html.ActionLink("Add new Stylist", "Create")</p>