@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<div class="jumbotron">
  <h1>Stylists at Eau Claires Salon:</h1>
</div>
<hr />
<div class="card stylistIndexCard">
  @if (Model.Count == 0)
  {
    <h3>There are no Stylists at Eau Claires at the moment. Please check later. Sorry for the inconvenience!</h3>
  }  

  <ul>
    @foreach (Stylist stylist in Model)
    {
      <div class="stylist">
        <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId })</li>
      </div>
    }
  </ul>
</div>
<hr />
<p>@Html.ActionLink("Add new Stylist", "Create")</p>