div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: center;
}

.home {
  /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-wood-jj-02_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e158db7add72dd56a2ccfdb61100d2d2"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-image: url("https://media.glamour.com/photos/5b0447840695f850742fe519/master/w_2560%2Cc_limit/longform-lede-hair-tipping.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.card {
  background-color: rgba(128, 128, 128, 0.479);
  text-align: center;
  padding: 1%;
}

.nameCard {
  margin-left: 21vw;
  margin-bottom: 2vh;
}

.dateCard {
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.noteCard {
  margin-left: 11vw;
}

.stylistCard {
  margin-left: 2vw;
}

.newClientBtn, .editClientBtn, .updateStylistBtn {
  margin-left: 32vw;
  background-color: rgb(88, 187, 64);
  color: rgb(200, 255, 0);
}

.updateStylist {
  margin-left: 27vw;
}

.stylistIndexCard {
  margin-left: 15vw;
  width: 10vw;
}

.stylist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stylist li {
  padding-left: 1rem;
  text-indent: -0.75rem;
}

.stylist li::before {
  content: '✂️';
}