div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: center;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:rgb(5, 247, 255);
  background:rgb(136, 134, 134);
  padding:5px;
  text-align: center;
}

.page {
  background-image: url("https://img.freepik.com/free-photo/vintage-border-salon-tools-wooden-table-jobs-career-concept_53876-128908.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-image: url("https://media.glamour.com/photos/5b0447840695f850742fe519/master/w_2560%2Cc_limit/longform-lede-hair-tipping.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  height: 5vh;
  padding-top: 10px;
}

.home {
  text-align: center;
  color: white;
}

.card {
  background-color: rgb(128, 128, 128);
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 2px 3px 4px black;
}

.nameCard {
  margin-left: 21vw;
  margin-bottom: 2vh;
}

.dateCard {
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.noteCard {
  margin-left: 11vw;
}

.stylistCard {
  margin-left: 2vw;
}

.newClientBtn, .editClientBtn, .updateStylistBtn {
  margin-left: 32vw;
  background-color: rgb(88, 187, 64);
  color: rgb(200, 255, 0);
}

.updateStylist {
  margin-left: 27vw;
}

.stylistIndexCard {
  margin-left: 15vw;
  width: 15vw;
}

.addStylistInfo {
  width: 30vw;
  margin-left: 1vw;
}

.clientIndexCard, .stylistClients {
  margin-left: 15vw;
  width: 15vw;
}

.addClientInfo, .stylistOptions {
  width: 30vw;
  margin-left: 1vw;
}

.clientInfo1 {
  margin-left: 15vw;
}

.clientInfo2 {
  margin-left: 1vw;
}

.stylist {
  list-style: none;
  padding-right: 25%;
  margin: 0;
}

.stylist li {
  padding-left: 1rem;
  text-indent: -0.75rem;
}

.stylist li::before {
  content: '✂️';
}

.newStylist {
  margin-left: 33vw;
}

.btn1 {
  margin-left: 30vw;
}

.btn2 {
  margin-left: 1vw;
}

.btn3 {
  margin-left: 11vw;
  width: 6vw;
  margin-bottom: 1vh;
}

.btn4 {
  margin-left: 10.5vw;
  width: 7vw;
  margin-bottom: 1vh;
}

.btn5 {
  margin-left: 9.5vw;
  width: 9vw;
}

a {
  color: rgb(94, 255, 0);
  text-shadow: 1px 1px 1px black;
}

a:hover {
  color: red;
}

.welcome {
  font-size: 20px;
  background: gray;
  border-radius: 10px;
}

.newStylistCard {
  width: 25vw;
  margin-left: 24vw;
}

.newStylistBtn {
  background-color: rgb(88, 187, 64);
  color: rgb(200, 255, 0);
}

.deleteBtn {
  background-color: rgb(187, 64, 64);
  color: rgb(0, 255, 234); 
}
