@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Welcome to Eau Claires Salon Client Tracker!</h1>
</div>
<hr />
<p>Welcome! Please use the buttons on the Nav bar on top to navigate to the Stylist or Client page. Add a Stylist from the Stylist page and add Clients from the selected Stylist detail page.</p>
<hr />
<p>more stuff</p>
<hr />

