@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="jumbotron">
  <h1>Add a new Client here!</h1>
</div>
@using (Html.BeginForm())
{
  <div class="row">
    <div class="card nameCard">
      <h4>Client Name:</h4>
      @Html.TextBoxFor(model => model.ClientName)
    </div>
    <div class="card dateCard">
      <h4>Client Appointment Date:</h4>
      @Html.TextBoxFor(model => model.ClientDate)
    </div>
  </div>
  <div class="row">
    <div class="card noteCard">
      <h4>Client Notes for Appointment:</h4>
      @Html.TextBoxFor(model => model.ClientNotes)
    </div>
    <div class="card stylistCard">
      <h4>What Stylist would this Client like to see?</h4>
      @Html.DropDownList("StylistId")
    </div>
  </div>
  <br>
  <input class="newClientBtn" type="submit" value="Add new Client" />
}